<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h2>Estate Bazaar</h2></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
            </ul>
            <form class="d-flex">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button> -->
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                <li class="nav-item">
                  <select class="form-control">
                    <option value="">Location</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Pune">Pune</option>
                  </select>
                </li>
                <li class="nav-item">
                  <button class="btn btn-primary" type="button">
                    Signup
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                    </span>
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-success" type="button">
                    Login
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
                    </span>
                  </button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row banner-content">
    <div class="col-md-12">
      <h1 class="text-center">Buy Property with Estate Bazaar</h1>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 buy-sell-section">
      <ul class="nav nav-tabs text-center">
        <li class="nav-item">
          <a class="nav-link bg-primary text-light" aria-current="page" href="#">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Sell</a>
        </li>
      </ul>
      <div class="input-group mb-3 search-section">
        <input type="text" class="form-control" placeholder="Enter here">
        <button class="btn btn-danger" type="button" id="button-addon2">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
          </span>
          Search
        </button>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="row m-t-5">
      <div class="col-md-12 text-center">
        <p class=" bg-strike-text text-secondary">
          Are you a Property Owner?
        </p>
        <button class="btn btn-success">Post Free Property Ads</button>
      </div>
    </div>
  </div>

  <div class="row posting-section">
    <div class="col-md-6 text-center right-border">
      <h4>Find Property</h4>
      <p>Select from thousands of options, without brokerage.</p>
      <button class="btn btn-secondary">Find now</button>
    </div>
    <div class="col-md-6 text-center">
      <h4>List Your Property</h4>
      <p>For Free. Without any brokerage.</p>
      <button class="btn btn-secondary">Free Posting</button>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-12">
      <nav class="nav">
        <a class="nav-link" href="#">About Us</a>
        <a class="nav-link" href="#">Careers</a>
        <a class="nav-link" href="#">Terms & Conditions</a>
        <a class="nav-link" href="#">Privacy Policy</a>
        <a class="nav-link" href="#">Testimonials</a>
        <a class="nav-link" href="#">Sitemap</a>
        <a class="nav-link" href="#">FAQs</a>
      </nav>
    </div>
  </div>
  <div class="row stores ">
    
    <div class="col-md-6 text-center">
      <p>Download the App</p>
      <a href="#"><img src="../assets/images/app-store.svg" alt="app store"></a>
      <a href="#"><img src="../assets/images/google-store.png" alt="google store"></a>
      <p class="report-abuse text-right">Usage of 99acres.com to upload content showing area in non 
        standard units or which enables targeting by religion/community/caste/race is prohibited.
        Please report inappropriate content by writing to us at <a href="#">report abuse</a></p>
    </div>
    <div class="col-md-6 text-center">

      <div class="card" >
        <div class="card-body">
          <h3>Contact Us</h3>
          <p class="card-text">
            Toll Free - 1800 41 99099
            <br>
            <span class="report-abuse text-right">9:30 AM to 6:30 PM (Mon-Sun)</span>
            <br>
            <span>
              Email - feedback&#64;limitless.com
            </span>
          </p>
          <!-- <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
      
      
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12">
      <p class="text-center">
        All trademarks are the property of their respective owners.
        <br>
        All rights reserved - Limitless Pvt Ltd.
      </p>
      <p class="text-center">
        © 2013-24 Limitless Technologies Solution Pvt. Ltd.
      </p>
    </div>
  </div>
</div>

