<div class="display-mobile">
    <div class="row">
        <h3 class="text-center margin-top-20">Our Services</h3>
        <div class="card col-6 text-center">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20220727/pngtree-real-estate-house-property-instagram-post-or-square-web-banner-background-image_1439675.jpg"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Builder Projects</h5>
                <!-- <p class="card-text">Design your Building Structure</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card col-6 text-center">
            <img src="https://i.pinimg.com/736x/57/3c/c4/573cc44e326eeade211256ae5b02df24.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Architectures Services</h5>
                <!-- <p class="card-text">Design your Building Structure</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card col-6 text-center">
            <img src="https://static.vecteezy.com/system/resources/previews/004/797/507/non_2x/real-estate-investment-brochure-template-flat-design-illustration-editable-of-square-background-suitable-for-social-media-greeting-card-and-web-internet-ads-vector.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Contractor Services</h5>
                <!-- <p class="card-text">Design your Building Structure</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
        <div class="card col-6 text-center">
            <img src="https://i.pinimg.com/736x/2d/39/0e/2d390e9194617cc6b2af82207f23d668.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Interior Services</h5>
                <!-- <p class="card-text">Design your Building Structure</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-warning text-dark buysellproperty text-center">
            Buy/Sell Property on Emergency deal
        </div>
    </div>
</div>
<!-- <div class="row posting-section">
    <div class="col-md-6 text-center right-border">
        <h4>Find Property</h4>
        <p>Select from thousands of options, without brokerage.</p>
        <button class="btn btn-secondary">Find now</button>
    </div>
    <div class="col-md-6 text-center">
        <h4>List Your Property</h4>
        <p>For Free. Without any brokerage.</p>
        <button class="btn btn-secondary">Free Posting</button>
    </div>
</div> -->
<!-- <div class="row footer">
    <div class="col-md-12">
        <nav class="nav">
            <a class="nav-link" href="#">About Us</a>
            <a class="nav-link" href="#">Careers</a>
            <a class="nav-link" href="#">Terms & Conditions</a>
            <a class="nav-link" href="#">Privacy Policy</a>
            <a class="nav-link" href="#">Testimonials</a>
            <a class="nav-link" href="#">Sitemap</a>
            <a class="nav-link" href="#">FAQs</a>
        </nav>
    </div>
</div> -->
<!-- <div class="row stores ">
    <div class="col-md-6 text-center">
        <div class="card">
            <div class="card-body">
                <h3>Contact Us</h3>
                <p class="card-text">
                    Toll Free - 1800 41 99099
                    <br>
                    <span class="report-abuse text-right">9:30 AM to 6:30 PM (Mon-Sun)</span>
                    <br>
                    <span>
                        Email - feedback&#64;limitless.com
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <p>Download the App</p>
        <a href="#"><img src="../assets/images/app-store.svg" alt="app store"></a>
        <a href="#"><img src="../assets/images/google-store.png" alt="google store"></a>
        <p class="report-abuse text-right">Usage of 99acres.com to upload content showing area in non
            standard units or which enables targeting by religion/community/caste/race is prohibited.
            Please report inappropriate content by writing to us at <a href="#">report abuse</a></p>
    </div>
</div> -->